@page
@model MyRazorPages.Pages.Account.ResetPasswordModel
@{
}
<div id="form">
    <h3 style="padding: 20px;">Reset Password</h3>
    <div style="padding: 0px 20px 10px;">
        Please enter new password
    </div>
    <div id="form-content">
        <form action="" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <input asp-for="@Model.ResetPassword.Password" class="form-control" />
                <span asp-validation-for="@Model.ResetPassword.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Confirm password</label>
                <input asp-for="@Model.ResetPassword.ConfirmPassword" class="form-control" />
                <span asp-validation-for="@Model.ResetPassword.ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.ResetPassword.Email" class="form-control" />
            <input type="hidden" asp-for="@Model.ResetPassword.Token" class="form-control" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if (ViewData["msg_reset"] != null)
        {
            <p style="color:red">@ViewData["msg_reset"]</p>
        }
    </div>
</div>